html { margin: 0; padding: 0; }

body {
	color: #000305;
	background: #CCCCFF;
	font-size: 87.5%
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}
/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* Anchors */
a {outline: 0;}
a:link, a:visited {
	color: #003366;
	padding: 0 1px;
	text-decoration: none;
}
a:hover, a:active {
	color: #003366;
	text-decoration: underline;
	text-shadow: 2px 2px 2px #333;
}

/* Lists */
ol {
	list-style: none;
	margin: 0em 0 0em 0em;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}
strong, b {font-weight: bold;}
::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* html5 */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

.main {clear: both; margin: 0 auto; width: 850px;}

/* Header */
#main_header {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}
	#main_header h1 {font-size: 2.8em; line-height: .6;}
	#main_header nav {
		background: #000305;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em -5px;
		padding: 0;
		text-align: center;
		width: 850px;
		border-radius: 5px;
	}
	#main_header nav ul {list-style: none; margin: 0 auto; width: 850px;}
	#main_header nav li {float: left; display: inline; margin: 0;}
	
	#main_header nav a:link, #main_header nav a:visited {
		color: #fff;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#main_header nav a:hover, #main_header nav a:active,
	#main_header nav .active a:link, #main_header nav .active a:visited {
		background: #6699CC;
		color: #fff;
		text-shadow: none !important;
	}
	
	#main_header nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}
/* Body */
#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 800px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#content .body {
	border-bottom: 1px solid #eee;
	padding: 0em 0;
}

#content .entry:hover {
	background: #C3D9FF;
	color: black;
}
#content .intro {
	font-size: 1em;
	color: #3F4C6B
}
#content .intro h5 {
	font-size: 1em;
	font-weight: bold;
}
#content .stuff {
	padding: 20px 20px;
}

#summary h2 {
	color: #003366; 
	font-size: 1.714em; 
	margin-bottom: 0.333em;}

/*Footer*/
#extra {
	text-align: center;
}
	#extra time {
		font-size: 0.8em
	}