body {
  padding: 0.5em 1em 1em 8px;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a:link { color: #00C; text-decoration: none; background: transparent }
a:visited { color: #00C; text-decoration: none; background: transparent }
a:hover { text-decoration:underline }
a:active { color: #00C; background: transparent }

h1, h2, h3, h4, h5, h6 { text-align: left }
h1, h2 { color: #005A9C; background: white }
h1 { font: 170% sans-serif:bold}
h2 { font: 140% sans-serif }
h3 { font: bold 100% sans-serif }
h4 { font: italic 100% sans-serif }
}

p { text-align: left }
